*{
    // background: #ffffe6;
}

#container_logo {
    padding: 2em 0;
}

#home_container {
    min-height: 85vh;
}

#banner_home {
    width: 95%;
    max-width: 930px;
    height: 200px;
    margin: 0 auto;
}

#section_title {
    width: 95%;
    margin: 0 auto;

    padding: 1em 0;

    font-size: 1.7em;
    font-weight: bold;
}

#intro_post_container {
    max-width: 930px;
    margin: 0 auto;
}

#blogs_container {
    max-width: 930px;
    margin: 0 auto;
}

#footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 3em 1em;

    background: #010b1a;
    color: #fff;

    .divider_elem{
        width: 100%;

        padding: 0 0 2em;
        border-bottom: 2px solid #353535;

        &:first-child, &:last-child {
            padding: initial;
            border-bottom: initial;
        } 
    }
    
    #logoFooter {
        width: 280px;
        margin: 0 auto;
    }

    h3 {
        width: 100%;
        padding: 2em 0 0.5em;

        font-size: 1em;
        font-weight: 400;

        color: #bababa;
        text-align: center;
    }

    #socialLinks, #interestingLinks {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        width: 100%;
        max-width: 320px;
        
        margin: 0 auto;

        a {
            width: 40px;
            height: 40px;

            &:hover {
                transform: scale(1.2);
                transition: 0.5s;
            } 
        }
    }

    #interestingLinks {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: initial;

        a {
            display: block;
            width: 100%;
            height: initial;
            color: #ffffff;

            font-size: 1em;
            font-weight: 900;
            text-align: center;

            // text-decoration: underline;
            &:hover {
                transform: none;
                transition: none;
            }
        }
    }

    #copyrightBlog {
        width: 100%;
        min-height: initial;
        padding: 1em 0;

        font-size: 0.9em;
        text-align: center;
        color: #979797;
    }
}

@media (min-width: 768px) {
    #footerContainer {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-wrap: wrap;

        width: 100%;
        padding: 2em 0 3em 1em;

        .divider_elem {
            width: 33%;
            min-height: 140px;
            
            // padding: 0 1em 0 0;
            border-bottom: initial;
            border-left: 2px solid #353535;
    
            &:first-child, &:last-child {
                border-bottom: initial;
                border-left: initial;
            }
        }

        #logoContainer {
            // width: 45%;
        }

        #socialContainer {
            width: 37%;
            
            #socialLinks {
                width: 100%;
                justify-content: flex-start;
                margin: initial;

                a {
                    margin-right: 1.5em;
                }
            } 
        }

        #socialContainer ,#interestingContainer {
            width: 30%;
            padding: 0 1em;

            h3, #socialLinks>a, #interestingLinks>a {
                text-align: left;
            }
        } 

        h3 {
            padding: 0 0 0.5em;
        } 

        #copyrightBlog {
            padding: 2em 0 0;
        }
    }
}




